<div class="add-movie">
  <div class="container">
    <form>
      <label class="movie-title">
        <div class="form-label">Movie Title: </div>
        <input type="text" name="title" placeholder="Title" ng-model="movie.title" required>
      </label>
      <label class="movie-desc">
        <div class="form-label">Movie Description: </div>
        <textarea name="description" placeholder="Description" ng-model="movie.description"></textarea>
      </label>
      <label class="movie-release">
        <div class="form-label">Year Released: </div>
        <input type="number" name="yearReleased" min="1900" max="2018" step="1" ng-model="movie.yearReleased">
      </label>
      <label class="movie-actors">
        <div class="form-label">Actors: </div>
        <input type="text" name="actors" placeholder="Actors (comma separated)" ng-model="actors">
      </label>
      <label class="movie-genre">
        <div class="form-label">Genres: </div>
        <input type="text" name="genres" placeholder="Genres (comma separated)" ng-model="genres">
      </label>
      <input class='submit-button' type="submit" value="Add Movie" ng-click="saveMovie()">
    </form>
  </div>
</div>
