html {
  background-color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: inline-block;
  vertical-align: top;
}

.view-wrapper {
  display: inline-block;
  min-width: 300px;
  width: 75%;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 200px;
  width: 10%;
  background-color: #f1f1f1;
}

.nav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #555;
  color: white;
}

.catalogue-title {
  margin: auto;
  text-align: center;
  padding-bottom: 5px;
  color: whitesmoke;
}

movie-list .movie-label {
  font-weight: bold;
}

movie-list .empty{
  color: slategrey;
}

.container {
  background-color: whitesmoke;
  border: 2px solid #555;
  border-radius: 6px;
  padding: 3px;
  margin: auto;
}

.add-movie label, .movie-search label {
  display: block;
  font-weight: bold;
}

.add-movie .form-label, .movie-search .form-label {
  width: 150px;
  display: inline-block;
  padding-top: 3px;
}

.add-movie input[type='text'], .movie-search input[type='text']  {
  width: 75%;
}

.refresh-button {
  text-align: center;
  color: #000;
  padding: 8px 16px;
  border: 1px solid #555;
  border-radius: 6px;
  width: auto;
}

.refresh-button:hover {
  background-color: #555;
  color: white;
}
