html {
  background-color: #f9f9f9;
}

.catalogue-title {
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
}

movie-list .movie-label {
  font-weight: bold;
}

movie-list {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

movie-list .empty{
  color: slategrey;
}

.show-button {
  background-color: whitesmoke;
  border: 2px solid blue;
  border-radius: 6px;
  cursor: pointer;
  width: 75%;
  padding: 3px;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  color: blue
}

.show-button.open{
  cursor: pointer;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.container {
  background-color: whitesmoke;
  width: 75%;
  border: 2px solid blue;
  border-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 3px;
  margin: auto;
}

add-movie label, movie-search label {
  display: block;
}

add-movie .form-label, movie-search .form-label {
  width: 150px;
  display: inline-block;
  padding-top: 3px;
}

add-movie input[type='text'], movie-search input[type='text']  {
  width: 75%;
}
