<div class="show-button" ng-click="scope.showList = !scope.showList">Full Movie Catalogue<img src='img/arrow-icon.png'></div>
<div class='list-container' ng-show="scope.showList">
  <div ng-show="movies && movies.length > 0">
    <div ng-if="error">{{error}}</div>
    <div>Sort By:
      <select ng-model="movieSortOrder">
        <option ng-repeat="x in movieSortOptions" value="{{x.sort}}" default="+title">{{x.name}}</option>
      </select>
    </div>
    <hr>
    <div class="movie-listing" ng-repeat="movie in movies | orderBy:movieSortOrder">
      <div>
        <span class="movie-label">Movie Title: </span><span class="movie-title">{{movie.title}}</span>
      </div>
      <div>
        <span class="movie-label">Description: </span><span class="movie-desc">{{movie.description}}</span>
      </div>
      <div>
        <span class="movie-label">Year Released: </span><span class="movie-release">{{movie.yearReleased}}</span>
      </div>
      <div>
        <span class="movie-label">Actors: </span><span ng-repeat="actor in movie.actors" class="movie-actor">{{actor}}{{$last ? '' : ', '}} </span>
      </div>
      <div>
        <span class="movie-label">Genres: </span><span ng-repeat="genre in movie.genres" class="movie-genre">{{genre}}{{$last ? '' : ', '}}</span>
      </div>
      <hr>
    </div>
  </div>
  <div ng-show="!movies || movies.length === 0">No movie data available!</div>
</div>
