<div ng-show="movies && movies.length > 0">
    <div ng-if="error">{{error}}</div>
    <div class='sort-option' ng-show="movies && movies.length > 1">
      <span class='sort-title'>Sort By:</span>
      <select ng-model="movieSortOrder">
        <option ng-repeat="x in movieSortOptions" value="{{x.sort}}" default="+title">{{x.name}}</option>
      </select>
      <hr>
    </div>
    <div class="movie-listing" ng-repeat="movie in movies | orderBy:movieSortOrder">
      <span class='movie-info'>
        <div>
          <span class="movie-label">Movie Title: </span><span class="movie-title">{{movie.title}}</span>
        </div>
        <div>
          <span class="movie-label">Description: </span>
          <span ng-if="movie.description && movie.description.length > 0" class="movie-desc">{{movie.description}}</span>
          <span ng-if="!movie.description || movie.description.length < 1" class="movie-desc empty">No movie description available</span>
        </div>
        <div>
          <span class="movie-label">Year Released: </span><span class="movie-release">{{movie.yearReleased || "Unknown"}}</span>
        </div>
        <div>
          <span class="movie-label">Actors: </span>
          <span ng-if="movie.actors && movie.actors.length > 0" ng-repeat="actor in movie.actors" class="movie-actor">{{actor}}{{$last ? '' : ', '}} </span>
          <span ng-if="!movie.actors || movie.actors.length < 1" class="movie-actor empty">Unknown</span>
        </div>
        <div>
          <span class="movie-label">Genres: </span>
          <span ng-if="movie.genres && movie.genres.length > 0" ng-repeat="genre in movie.genres" class="movie-genre">{{genre}}{{$last ? '' : ', '}}</span>
          <span ng-if="!movie.genres || movie.genres.length < 1" class="movie-genres empty">Unknown</span>
        </div>
      </span>
      <hr ng-if="!$last">
    </div>
  </div>
  <div ng-show="moviesLoaded && !movies || movies.length === 0">No movie data available!</div>
